.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto;
  row-gap: 48px;
  column-gap: 40px;
  margin-top: 80px;
}

.place:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: auto;
    column-gap: 28px;
    margin-top: 73px;
    column-gap: 0;
    row-gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .place:last-child {
    margin-bottom: 0;
  }
}
